.incidencia{
	margin: 1em;
}

.incidencia-titulo {
	/*background-color: blue; */
}
.incidencia-cuerpo {
  	/*border: 3px solid blue;*/
}
.incidencia-cuerpo-datos {
	/*padding-top: 1em; 
	border-bottom: 2px solid blue;*/
}

.incidencia-cuerpo-imagenes {
	margin: 2em;
}
.incidencia-cuerpo-imagenes > img{
	max-width: 90%;
	max-height: 12em;
}
.incidencia-cuerpo-comentarios-comentario{
	margin-left: 0px; 
	margin-right: 0px; 
	border-radius: 1em; 
	margin-top: 1em;
	margin-bottom: 1em; 
	padding: 0.5em; 
}
/*.incidencia-cuerpo-comentarios-comentario:nth-child(odd){
	background-color: #cccccc;
} */

.incidencia-cuerpo-acciones{
	background-color: #ffeecc;
}
.incidencia-cuerpo-acciones  i{
	font-size: xx-large;
	margin-left: 0.2em;
	margin-right: 0.2em;  
}
.boton-icono-accion{
	background-color: transparent;
	border: none;  
}
.boton-icono-accion:active{
	border: none;
}
.boton-icono-accion i:hover {
  opacity: 0.5;
}
.incidencia-cuerpo-acciones-positiva{
	color: green;
}
.incidencia-cuerpo-acciones-negativa{
	color: red;
}
.incidencia-cuerpo-acciones-cometario, .incidencia-cuerpo-acciones-editar{
	color: orange;
}
.incidencia-cuerpo-acciones-eliminar, .incidencia-cuerpo-comentarios-comentario-eliminar{
	color: #696969;
}
.incidencia-cuerpo-comentarios-comentario-eliminar{
	font-size: xx-large;
}
.incidencia-cuerpo-anadir_comentario > div > textarea{
	height: 8em; 
	margin-right: 1em;
	margin-left: 1em; 
	margin-bottom: 1em;
}

.incidencia-cuerpo-anadir_comentario > div > button{
	width: fit-content; 
	margin-left: auto;
	margin-right: auto;
	display: block;

}

.incidencia-cuerpo-anadir_comentario-cometario, .incidencia-cuerpo-anadir_comentario-result {
	/*margin: 1em;*/
	width: 100%;
}
.incidencia-cuerpo > section{
	padding: 1em;
}

.incidencia-cuerpo > section:last-child{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0em;
	padding-right: 0em;
}
